<h1>IDRA Hub</h1>
<nav>
  <div>
    <%= link_to "Main Hub", products_path %>
  </div>
  <div>
    <%= link_to "Your Profile", users_path %>
  </div>
  <div>
    Contact
  </div>
  <div>
    Ranking System
  </div>
  <div>
    About IDRA Team
  </div>
</nav>
