<nav class="navbar navbar-primary" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
     <div class="navbar-brand-left-responsive">
      <img src="http://i.imgur.com/Quj3YTU.png" alt="Brand" class="img-circle">
      <span>IDRA</span>
     </div>
   </div>
   <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav navbar-right">
       <li >
         <%= link_to "Main Hub", products_path, style: "color: white"%>
       </li>
       <li>
         <%= link_to "Contact", products_path, style: "color:  white" %>
       </li>
       <li>
         <%= link_to "Ranking System", products_path, style: "color: white"%>
       </li>
       <li>
         <%= link_to "About IDRA Team", products_path, style: "color: white"%>
       </li>
     </ul>
   </div>
 </div>
</nav>
