
<nav class="navbar navbar-primary" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
      <h1 class="navbar-brand" style="color:white">IDRA Hub</h1>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right" style="color:white">
       <li> <%= link_to "Main Hub", products_path %> </li>
       <li> Contact </li>
       <li> Ranking System </li>
       <li> About IDRA Team</li>
     </ul>
   </div>
 </div>
</nav>
