
<nav class="navbar navbar-primary" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" style="color:white">IDRA Hub</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right" style="color:white">
       <li> <%= link_to "Main Hub", products_path %> </li>
       <li> <%= link_to "Contact", products_path %> </li>
       <li> <%= link_to "Ranking System", products_path %> </li>
       <li> <%= link_to "About IDRA Team", products_path %> </li>
     </ul>
   </div>
 </div>
</nav>
