// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  background-color: rgb(51, 153, 255);
}

table, tbody, th, tr, td {
  color: rgb(0, 0, 139);
}

h1 {
  text-align: center;
  background-color: rgb(51, 153, 255);
}

div {
  color: rgb(0, 0, 139);
}

h2 {
  margin: auto;
  text-align: center;
}
