<nav class="navbar navbar-primary" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" style="color:white">IDRA Hub</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
       <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>
       <li> <%= link_to "Main Hub", products_path %> </li>
       <li> <%= link_to "Profile", users_path %> </li>
       <li> <%= link_to "Contact", users_path %> </li>
     </ul>
   </div>
 </div>
</nav>
