<h1>IDRA Hub</h1>
  <div>
    <%= link_to "Main Hub", products_path %>
  </div>
  <div>
    <%= link_to "Profile", user_path(current_user) %>
  </div>

  <div>
    Contact
  </div>
  <div>
    Ranking System
  </div>
  <div>
    About IDRA Team
  </div>
