<h1>IDRA Hub</h1>
  <div>
    Session
  </div>
  <div>
    <%= link_to "Profile", users_path %>
  </div>
  <div>
    Contact
  </div>
  <div>
    Ranking System
  </div>
  <div>
    About IDRA Team
  </div>
