<nav class="navbar navbar-primary" role="navigation">
 <div class="container-fluid">
   <div class="navbar-header">
     <div class="navbar-brand-left-responsive">
      <img src="http://i.imgur.com/Quj3YTU.png" alt="Brand">
      <span>IDRA</span>
     </div>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
       <li> <%= link_to 'Log Out', logout_path, method: :delete, style: "color: white"%> </li>
       <li> <%= link_to "Main Hub", products_path, style: "color: white"%> </li>
       <li> <%= link_to "Profile", users_path, style: "color: white"%> </li>
       <li> <%= link_to "Contact", users_path, style: "color: white"%> </li>
     </ul>
   </div>
 </div>
</nav>
