<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <nav class="navbar navbar-inverse-responsive">
      <a class="navbar-brand navbar-left" href="https://www.linkedin.com/in/neonagx">
        <img alt="linkedin" src="http://i.imgur.com/vzLsdCY.png">
      </a>
      <a class="navbar-brand navbar-left" href="https://www.instagram.com/droneracing/">
        <img alt="instagram" src="http://i.imgur.com/bC60s6h.png">
      </a>
      <a class="navbar-brand navbar-left" href="https://www.youtube.com/channel/UCYGnsbWeH9BC7FitZ5R91Uw">
        <img alt="youtube" src="http://i.imgur.com/sOu3fJ5.png">
      </a>
      <a class="navbar-brand navbar-left" href="https://www.facebook.com/droneracingassociation/">
        <img alt="facebook" src="http://i.imgur.com/hH0YD8e.png">
      </a>
    </nav>
  </body>
</html>
